.botao:hover{
    background-color: rgb(25, 111, 61);
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    transition: .3s;
}


.menu button:hover{
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}

.conteudo-main .conteudo-inicial:hover{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)100%), url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
}

.conteudo-main .conteudo-cartao:hover{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)100%), url(../img/img-cartao.jpeg);
    background-position: center;
    background-size: cover;
}

.conteudo-main .conteudo-poupanca:hover{
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)100%), url(../img/img-poupanca.jpeg);
    background-position: center;
    background-size: cover;
}