@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    font-size: 1rem;
    background-color: white;
}

header{
    background-color: rgba(34, 153, 84, 1);
    padding: 20px;
    width: 100%;
    max-height: 120px;
    position: fixed;
}

.conteudo-menu{
    display: flex;
    justify-content: space-between;
    color: #ddd;
}

.conteudo-rodape{
    background-color: rgba(34, 153, 84, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

.rodape{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(34, 153, 84, 1);
    text-align: center;
    color: white;
}

.rodape a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    align-items: center;
}

.rodape img{
    width: 25px;
    vertical-align: bottom;
    margin-left: 10px;
}

.logo{
    max-width: 50px;
}

.mapa{
    padding: 10px;
    padding-top: 150px;
    padding-bottom: 30px;
}

.menu{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 300px;
}