.conteudo-menu h2 a{
    font-size: 1.45rem;
    text-decoration: none;
    color: white;
}

.conteudo-menu .link-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-menu .link-menu .itens-menu{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0px 20px;
}

.conteudo-menu .link-menu .itens-menu a{
    text-decoration: none;
    color: #fff;
}

.conteudo-menu .link-menu .acesso input{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin: 5px;
}

.botao{
    background-color: rgb(130, 224, 170);
    padding: 10px;
    border: none;
    border-radius: 3px;
    max-width: 300px;
}

.conteudo-main .texto-inicial{
    display: flex;
    height: 60vh;
    padding-top: 90px;
}

.menu button{
    background-color: rgba(34, 153, 84, 1);
    margin: 15px;
    padding: 25px;
    width: 35vw;
    display: grid;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    align-items: flex-end;
}

.conteudo-main .conteudo-inicial{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    max-width: 100vw;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
}

.conteudo-main .conteudo-inicial h2{
    text-align: end;
    margin-top: 5rem;
}

.conteudo-main .conteudo-inicial p{
    text-align: justify;
    align-items: center;
    margin-top: 3rem;
}

.conteudo-main .conteudo-cartao{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/img-cartao.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    max-width: 100vw;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.conteudo-main .conteudo-cartao h2{
    text-align: start;
    margin-top: 5rem;
}

.conteudo-main .conteudo-cartao p{
    text-align:  justify;
    align-items: center;
    margin-top: 3rem;
}

.conteudo-main .conteudo-poupanca{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/img-poupanca.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    max-width: 100vw;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.conteudo-main .conteudo-poupanca h2{
    text-align: end;
    margin-top: 5rem;
}

.conteudo-main .conteudo-poupanca p{
    text-align:  justify;
    align-items: center;
    margin-top: 3rem;
}

.conteudo-formulario{
    font-size: 1.5rem;
    height: 60vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: black;
    margin-bottom: 175px;
    align-items: flex-start;
}

.conteudo-formulario form{
    font-size: 1rem;
    display: grid;
    padding: 130px 30px;
}

.conteudo-formulario form input{
    font-family: 'Montserrat';
    width: 50%;
    max-width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.conteudo-formulario form select{
    font-family: 'Montserrat';
    width: 50%;
    max-width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.conteudo-formulario form textarea{
    font-family: 'Montserrat';
    max-height: 120px;
    max-width: 75vw;
    width: 300px;
    height: 80px;
}

.mapa iframe{
    width: 100%;
    height: 350px;
}

.mapa h2{
    padding: 10px;
}

.conteudo-main .video{
    padding: 30px;
    padding-top: 150px;
    text-align: center;
}

.conteudo-main .video h2{
    text-align: center;
    padding: 10px 0px;
}

.conteudo-main .video iframe{
    width: 50%;
    height: 60vh;
    max-width: 65%;
    padding-bottom: 25px;
    min-width: 300px;
}

.conteudo-rodape ul{
    list-style: none;    
    color: white;
}

.conteudo-rodape ul a{
    text-decoration: none;
    color: white;
}